@font-face {
  font-family: 'NewYork';
  src: url(./fonts/NewYork.otf) format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Alphazet';
  src: url(./fonts/Alphazet-Light.woff2) format('woff2');
  font-style: normal;
}
